.container {
  height: var(--page-header-height);
  margin-bottom: calc(-1 * var(--page-header-height));
  padding: 16px var(--page-padding);
}

.content {
  height: 100%;
  display: flex;
  max-width: var(--page-max-width);
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}


.title{
  text-transform: uppercase;
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  text-align: center;
}

.social {
  width: 50px; height: 50px;
}

@media (max-width: 500px) {.social {
display: none}}